/* General styles for all screen sizes */
* {
  font-family: sans-serif;
}

body {
  margin: 0;
} 

a {
  text-decoration: none;
}

.white {
  color: white;
}

/* Navbar CSS */
.navbar {
  display: flex;
  background-color: #007aa5;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar ul li {
  margin: 10px;
}

.navbar ul li a {
  position: relative;
  padding: 10px;
}

.navbar ul li a::before {
  content: "";
  position: absolute;
  width: 0%;
  background-color: white;
  height: 3px;
  bottom: 0;
  left: 0;
}

.navbar ul li a:hover::before {
  width: 100%;
  left: 0;
}
.gtr {
  color: white;
  background: #00d2ff;
  background: -webkit-linear-gradient(to right, #928dab, #00d2ff);
  background: linear-gradient(to right, #928dab, #00d2ff);
  width: auto;
  height: 21px;
  border-radius: 18px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
  margin-top: 5px;
}

.ico {
  height: 20px;
  width: 20px;
  padding-right: 7px;
}

.gtr1 {
  color: white;
}
.menu-icon{
  display: none;
}

.mobile-menu{
  display: none;
}

.banner {
  padding: 180px 100px;
  background-image: url("assets/New-energy-solutions_i1140.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: auto;
  height: auto;
}

.sw{
  display: flex;
}

.banner div h2 {
  font-size: 30px;
  color: white;
  margin-bottom: 0px;
}

.qa{
  color: white;
}

.wr{
  font-size: 40px;
  color: white;
}

.d{
  background-color: #007aa5;
  padding-top: 30px;
  padding-bottom: 20px;
}

.de{
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  background-image: linear-gradient(180deg, #2900D1 0%, #000000 100%);
  width: 1200px;
  margin-left: 80px;
  margin-right: 80px;
}

.de1{
  width: 300px;
}

.de1 h1{
  font-size: 35px;
  color: white;
}

.de12{
  width: 400px;
}

.de1 img{
  width: 300px;
  height: 250px;
}

.h21{
  color: #ffffff;
  font-size: 25px;
}

.pas{
  width: 300px;
}

.pas p{
  color: white;
}

.cenr0{
  margin-top: 0px ;
  padding-top: 50px;
  background-color: #0F89B4 ;
}

.cenr1{
  padding-bottom: 150px;
}

.m{
  padding-left: 20px;
}

.k {
  color: white;
}

.cenr{
  text-align: center;
}

.cenr h1{
  font-size: 50px;
  margin-top: 0px;
  color: white;
}

.cenr p{
  color: white;
  padding-bottom: 50px;
}

.q12{
  padding: 50px 100px 100px 100px;
  background-color: #2900D1
}

.q13{
  border-radius: 6px 6px 6px 6px;
  background-color: #000000;
  color: white;
  padding: 20px 20px 20px 20px;
  width:auto;
  height: 250px;
}

.q13 h1{
  margin-top: 0px;
  font-size: 50px;
}

.bt{
  text-align: right;
}

.l1{
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
}

.lim0{
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
}

.lim32{
  padding-left: 20px;
  width: 500px;
}

.lim32 h1{
  color: #191970;
}

.lim{
  width: 600px;
  height:300px;
}

.button1 button {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  padding: 8px;
  height: 40px;
  width: auto;
  color: #ffffff;
  background-color: #007aa5;
  border: 1px solid #007aa5;
  border-radius: 8px;
}

/* Define the styles for the button */
.animated-button {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Add a hover effect */
.animated-button:hover {
  background-color: green;
  transform: scale(1.1);
}

.footer-content {
  background-color: #007aa5;
  color: white;
  text-align: left;
  font-size: 22px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 30px;
  margin-top: 50px;
  display: flex;
  height: auto;
}

.footer-con{
  width: 400px;
  padding: 25px;
}

.footer-coni ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-coni a {
  color: white;
  padding-bottom: 25px;
}

.ki{
  padding-left: 30px;
}
.flex-box {
  display: flex;
  justify-content: space-between;
  width: 325px;
}

.flex-box ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.flex-box ul li {
  margin-right: 5px;
}

.w1 {
  padding-right: 20px;
}


/* Media queries for tablets */
@media only screen and (min-width: 600px) {
  .navbar ul li {
    margin: 15px;
  }

  .navbar ul li a {
    padding: 15px;
  }

  .banner .sw div h2 {
    font-size: 50px;
  }

  .q13 h1{
    font-size: 30px;
  }

  .section-header h1 {
    font-size: 40px;
  }

  .product-item {
    width: 48%;
    margin: 10px;
  }

  .additional-section p {
    padding-left: 40px;
    padding-right: 40px;
  }

  .additional-section ul {
    margin-left: 40px;
    padding-left: 40px;
  }

  .third-section h1 {
    font-size: 60px;
  }

  .footer-content {
    padding: 30px;
  }
}

/* Media queries for mobile */
@media only screen and (max-width: 599px) {
  /* Reset default link styles */
  a {
    text-decoration: none;
  }

  /* Define color classes */
  .white {
    color: white;
  }

  .red {
    color: #191970;
  }

  /* Navbar styles */
  .navbar {
    display: flex;
    background-color: #007aa5;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
  }

  .navbar ul {
    display: none;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .navbar ul li a {
    padding: 10px;
  }

  /* Mobile menu icon */
  .menu-icon {
    display: block;
  }

  /* Mobile menu */
  .mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #007aa5;
    padding: 20px;
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
  }

  .mobile-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
  }

  /* Banner styles */
  .banner {
    padding: 40px 10px; /* Adjust padding for mobile */
  }

  .banner div {
    text-align: center; /* Center align content */
    margin-bottom: 20px; /* Add some space between content and image */
  }

  .banner div h2 {
    font-size: 24px; /* Reduce font size for heading */
  }

  .banner div p {
    font-size: 14px; /* Reduce font size for paragraphs */
  }

  .banner div img {
    width: 100%; /* Make the image fill the width of the container */
    height: auto; /* Maintain aspect ratio */
  }

  /* Button styles */
  .button1 {
    text-align: center; /* Center align the button */
  }

  .button1 button {
    font-size: 14px; /* Reduce font size for button text */
  }

  /* Content section styles */
  .de {
    display: flex;
    flex-direction: column; /* Change to column layout for mobile */
    align-items: center; /* Center align items */
    width: auto;
  }

  .de1 {
    width: 100%; /* Make each item fill the width */
    margin-bottom: 20px; /* Add space between items */
  }

  .de1 h1 {
    font-size: 20px; /* Reduce font size for headings */
    text-align: center; /* Center align headings */
  }

  .de1 img {
    width: 100%; /* Make images fill the width of their container */
    height: auto; /* Maintain aspect ratio */
  }

  /* Additional styles */
  .cenr1 {
    padding-bottom: 50px; /* Add some padding at the bottom */
  }

  .cenr {
    text-align: center; /* Center align content */
    margin-bottom: 30px; /* Add some space at the bottom */
  }

  .cenr h1 {
    font-size: 24px; /* Reduce font size for heading */
  }

  .cenr p {
    font-size: 14px; /* Reduce font size for paragraphs */
  }

  /* FAQ section */
  .de12 {
    width: auto; /* Make each item fill the width */
    margin-bottom: 20px; /* Add space between items */
  }

  .de12 h1 {
    font-size: 20px; /* Reduce font size for headings */
    text-align: center; /* Center align headings */
  }

  /* Answer section */
  .pas {
    width: auto;
  }

  .pas p {
    font-size: 14px; /* Reduce font size for paragraphs */
    white-space: wrap;
    overflow: hidden;
  }

  /* Margin adjustment */
  .m {
    padding-right: 20px;
  }

  /* Section padding */
  .q12 {
    padding: 20px; /* Add padding to the container */
  }

  /* Section alignment */
  .q13 {
    text-align: center; /* Center align content */
  }

  /* Section heading styles */
  .q13 h1 {
    font-size: 24px; /* Reduce font size for heading */
    margin-top: 0; /* Remove top margin for heading */
  }

  /* Section paragraph styles */
  .q13 p {
    font-size: 14px; /* Reduce font size for paragraphs */
  }

  /* Button margin adjustment */
  .button1 {
    margin-top: 20px; /* Add space between paragraph and button */
  }

  /* Animated button styles */
  .animated-button {
    font-size: 16px; /* Adjust button font size */
    padding: 10px 20px; /* Adjust button padding */
  }

  /* Reverse flex direction for mobile */
  .l1 {
    flex-direction: column-reverse; /* Reverse the order of flex items for mobile */
  }

  /* Image column styles */
  .lim32,
  .lim0 {
    width: auto; /* Set width to auto for mobile */
    text-align: center; /* Center align content */
    margin-bottom: 20px; /* Add margin between the two columns */
  }

  /* Image styles */
  .lim {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    height: auto; /* Maintain aspect ratio */
  }

  /* Remove margin from the bottom of the image column */
  .lim0 {
    margin-bottom: 0;
  }

  /* Heading styles */
  .lim32 h1 {
    font-size: 24px; /* Adjust font size for heading */
  }

  /* Paragraph styles */
  .lim32 p {
    font-size: 14px; /* Adjust font size for paragraphs */
  }

  /* Adjust button margin */
  .button1 {
    margin-top: 20px;
  }

  /* Adjust animated button styles */
  .animated-button {
    font-size: 16px;
    padding: 10px 20px;
  }

  /* Footer content styles */
  .footer-content {
    padding: 20px; /* Adjust padding for mobile */
    flex-direction: column; /* Display footer items in a single column for mobile */
  }

  /* Footer container styles */
  .footer-con {
    width: 100%; /* Set width to 100% for mobile */
    margin-bottom: 20px; /* Add margin between footer sections */
    padding: 0px;
  }

  /* Footer heading styles */
  .footer-con h3 {
    font-size: 24px; /* Adjust font size for headings */
    margin-bottom: 10px; /* Add margin below headings */
  }

  /* Footer paragraph styles */
  .footer-con p {
    font-size: 14px; /* Adjust font size for paragraphs */
    margin-bottom: 10px; /* Add margin below paragraphs */
  }

  /* Social media icon styles */
  .flex-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .flex-box ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  .flex-box ul li {
    margin-right: 10px; /* Add margin between social media icons */
  }

  /* Footer links styles */
  .footer-coni ul {
    list-style-type: none;
    padding: 0;
  }

  .footer-coni ul li {
    margin-bottom: 10px; /* Add margin below each link */
  }

  /* Adjust padding for footer menu item */
  .ki {
    padding-left: 0px;
  }
}




